.Quiz{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    background: rgb(31,63,32);
background: linear-gradient(0deg, rgba(31,63,32,1) 0%, rgba(9,121,49,1) 35%, rgba(0,253,255,1) 100%);
}

.QuizWrapper{
    width: 800px;
    
}