.Quiz{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    /* background: rgb(31,63,32); */
/* background: linear-gradient(0deg, rgb(35, 57, 80) 0%, rgb(9, 18, 121) 35%, rgb(0, 162, 255) 100%); */
}

.QuizWrapper{
    width: 100%;
    max-width: 800px;
}