.AnswerItem{
    transition: all .3s;
    border-radius: 4px;
    border: 2px solid #fff;
    width: calc(100% - 15px);
    margin-bottom: 15px;
    cursor: pointer;
    padding: 5px;
    text-transform: capitalize;
}

.AnswerItem:hover{
    opacity: 0.5;
}

.AnswerItem.success{
    background: green ;
}

.AnswerItem.error{
    background: red;
}