.Input input{
    height: 32px;
    padding: 0 10px;
    font-size: 18px;
    line-height: 32px;
    display: block;
    width: 300px;
    margin-bottom: 15px;
    outline: none;
    border-radius: 14px;
    background: #fff0;
    border: 1px solid #fff;
    color: #fff;
}

.Input input::placeholder{
    color: white;
    opacity: 0.5;
}