.App {
  text-align: center;
}

.App .login{
  background: #fff0;
  border-radius: 14px;
  border: 1px solid #fff;
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  position: fixed;
  right: 16px;
  top: 20px;
  cursor: pointer;
}


@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}